body,
.btn {
  font-size: 0.8rem;
}

.btn-sm,
.btn-group-sm > .btn {
  line-height: 1;
}

.table-top th,
.table-top td {
  padding: 0.25rem;
  vertical-align: top;
}

.table th,
.table td {
  padding: 0.25rem;
  vertical-align: middle;
}

.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(125%, 0, 0);
  transform: translate3d(125%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 125%, 0);
  transform: translate3d(0, 125%, 0);
}

table.dataTable.nowrap td {
  word-wrap: break-word;
  white-space: normal;
}

.apps-detail {
  display: block;
  left: 16px;
  position: absolute;
  color: white;
  top: 37px;
  font-size: 0.5em;
}
